{% extends "usuarios/base_auth.html" %}
{% load static %}

{% block title %}Cadastro{% endblock %}
{% block header %}Cadastro{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'usuarios/css/cadastro.css' %}"/>
{% endblock %}

{% block form_fields %}
  <div class="form-group">
    <input type="text" name="usuario" placeholder="Usuário" required/>
  </div>
  <div class="form-group">
    <input type="email" name="email" placeholder="Email" required/>
  </div>
  <div class="form-group senha-group">
    <input type="password" name="senha" placeholder="Senha" required id="senha_cadastro"/>
    <button type="button" onclick="toggleSenha('senha_cadastro')" 
            style="position:absolute;right:8px;top:50%;transform:translateY(-50%);
                   background:none;border:none;cursor:pointer;color:black(--text2)">
      👁
    </button>
  </div>
  <div class="form-group senha-group">
    <input type="password" name="confirma_senha" placeholder="Confirme a senha" required id="confirma_cadastro"/>
    <button type="button" onclick="toggleSenha('confirma_cadastro')" 
            style="position:absolute;right:8px;top:50%;transform:translateY(-50%);
                   background:none;border:none;cursor:pointer;color:black(--text2)">
      👁
    </button>
  </div>
{% endblock %}

{% block button_text %}Criar conta{% endblock %}

{% block links %}
  <a href="{% url 'usuarios:login' %}">Já tenho conta</a>
{% endblock %}
