{% extends "usuarios/base_auth.html" %}
{% load static %}

{% block title %}Recuperar senha{% endblock %}
{% block header %}Recuperar senha{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'usuarios/css/esqueci_senha.css' %}"/>
{% endblock %}

{% block form_fields %}
  <div class="form-group">
    <input type="email" name="email" placeholder="Digite seu email" required/>
  </div>
{% endblock %}

{% block button_text %}Enviar link de recuperação{% endblock %}

{% block links %}
  <a href="{% url 'usuarios:login' %}">Voltar ao login</a>
{% endblock %}
